// SPDX-FileCopyrightText: 2020, AG Projects
// SPDX-License-Identifier: GPL-3.0-only

.title {
    padding: 5px;
    font-size: 36px;
    text-align: center;
}

.body {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.link {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: blue;
}

.container {
    padding: 20px;
    margin: 0px;
    padding-bottom: 40px;
}
