.title {
    padding: 5px;
    font-size: 24px;
    text-align: center;
}

.body {
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.link {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: blue;
}

.love {
    padding: 8px;
    font-size: 12px;
    text-align: center;
}

.version {
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.container {
    padding: 20px;
    margin: 0px;
    padding-bottom: 40px;
}
