.container {
    flex: 1;
}

.userIconContainer {
    padding-top: 50px;
    margin: 0 auto;
}

.buttonContainer {
    justify-self: flex-end;
    flex-direction: row;
    margin: 0 auto;
    margin-top:auto;
    bottom: 20;
}

.button {
    background-color: white;
    margin: 10px;
    padding-top: 5px;
    padding-left: 0px;
}

.iosButton {
    background-color: rgba(#F9F9F9, .7);
    margin: 10px;
    padding-top: 5px;
}

.androidButton {
    background-color: rgba(#F9F9F9, .7);
    margin: 10px;
    padding-top: 1px;
}

.hangupButton {
    background-color: rgba(#a94442, .8);
}

.displayName {
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
}
.uri {
    padding: 0px;
    font-size: 18px;
    text-align: center;
    color: white;
}

