.container {
    flex: 1;
}

.userIconContainer {
    padding-top: 30px;
    margin: 0 auto;
}

.buttonContainer {
    justify-self: flex-end;
    flex-direction: row;
    margin: 0 auto;
    margin-top:auto;
    bottom: 30;
}

.button {
    background-color: white;
    margin: 10px;
    padding-top: 5px;
    padding-left: 0px;
}

.hangupButton {
    background-color: rgba(#a94442, .8);
}
