.title {
    padding: 0px;
    font-size: 30px;
    text-align: center;
}

.body {
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.container {
    padding: 10px;
    margin: 00px;
}

.iconContainer {
    flex-direction: row;
    justify-content: center;
}
