.container {
    flex: 1;
}

.conferenceContainerLandscape {
    flex-direction: row;
    align-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.chatContainerLandscape {
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 5px;
    width: 300px;
    border-color: grey;
    border-radius: 5px;
}

.audioContainerLandscape {
    align-content: flex-start;
    margin-top: 110px;
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
}

.chatContainerLandscapeAudio {
    margin-top: 110px;
    margin-right: 10px;
    margin-left: 5px;
    border-color: grey;
    border-radius: 5px;
    width: 57%;
}

.conferenceContainer {
    flex-direction: column;
    align-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.audioContainer {
    flex: 1;
    margin-top: 120px;
    margin-left: 10px;
}

.chatContainerPortraitAudio {
    margin-top: 10px;
    margin-left: 10px;
    border: 0px;
    height: 30%;
    border-color: grey;
    border-radius: 5px;
}

.chatContainer {
    margin-top: 10px;
    border: 0px;
    border-color: grey;
}

.videosContainer {
    flex: 1;
    flex-wrap: wrap;
    border-radius: 5px;
}

.carouselContainer {
    position: absolute;
    bottom: 10;
    left: 10;
    right: 10;
}

.landscapeVideosContainer {
    flex-direction: row;
}

.button {
    background-color: white;
    margin: 8px;
}

.iosButton {
    background-color: white;
    margin: 8px;
    padding-top: 4px;
}

.androidButton {
    background-color: white;
    margin: 8px;
}

.hangupButton {
    background-color: rgba(#a94442, .8);
}

.wholePageVideo {
    width: 100%;
    height: 100%;
}

.buttonContainer {
    flex-direction: row;
    margin: 0 auto;
}

.landscapeDrawer {
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}

.portraitDrawer {
    width: 300px;
}
