.container {
    flex: 1;
    width: 100%;
}

.portraitTabletContainer {
    flex-basis: 50%;
    width: 50%;
}

.landscapeTabletContainer {
    flex-basis: 50%;
    height: 50%;
}

.soloContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.videoContainer {
    height: 100%;
    width: 100%;
}

.video {
    height: 100%;
    width: 100%;
}

.controlsTop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-height: 50px;
    min-height: 50px;
    padding-left: 20px;
}

.badge {
    background-color: #5cb85c;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.controls {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    max-height: 114px;
    min-height: 114px;
    padding-left: 20px;
}

.lead {
    color: #fff;
    margin-bottom: 10px;
}

.status {
    color: #fff;
    font-size: 8px;
    margin-bottom: 16px;
    margin-left: 5px;
}
