.displayName {
    font-size: 18px;
    color: white;
}

.uri {
    font-size: 14px;
    color: white;
}

.media {
    padding-top: 10px;
    font-size: 12px;
    color: white;
    padding-bottom: 6px;
    text-align: right;
}

.mediaMedium {
    padding-top: 10px;
    font-size: 12px;
    color: red;
    padding-bottom: 6px;
    text-align: right;
}

.mediaBad {
    padding-top: 10px;
    font-size: 12px;
    color: red;
    padding-bottom: 6px;
    text-align: right;
}

.mediaGood {
    padding-top: 10px;
    font-size: 12px;
    color: green;
    padding-bottom: 6px;
    text-align: right;
}

.right {
    font-size: 12px;
    color: white;
    text-align: right;
}

.rightOrange {
    font-size: 12px;
    color: orange;
    text-align: right;
}

.rightGreen {
    font-size: 12px;
    color: yellow;
    text-align: right;
}

.card {
    height: 68px;
}

.userIconContainer {
    padding-top: 8px;
    padding-right: 5px;
    margin: 0 auto;
}

.userButtonsContainer {
    flex-direction: row;
}

.mediaContainer {
    flex-direction: column;
}



