.container {
    flex: 1;
}

.soloContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.videoContainer {
    height: 100%;
    width: 100%;
}

.video {
    height: 100%;
    width: 100%;
}