.container {
    padding: 5px;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 5px;
    font-size: 24px;
    text-align: center;
}

.body {
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

.button {
    margin: 10px;
    width: 130;
}

.buttonRow {
    flex-direction: row;
    justify-content: center;
}

