.displayName {
    font-size: 18px;
    color: white;
}

.uri {
    font-size: 14px;
    color: white;
}

.right {
    padding-top: 32px;
    font-size: 12px;
    color: white;
}

.rightOrange {
    padding-top: 32px;
    font-size: 12px;
    color: orange;
}

.rightGreen {
    padding-top: 32px;
    font-size: 12px;
    color: yellow;
}

.card {
    height: 60px;
}

.userIconContainer {
    padding-top: 8px;
    padding-right: 5px;
    margin: 0 auto;
}



