.title {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
}

.displayName {
    font-size: 22px;
    color: white;
}

.uri {
    font-size: 18px;
    color: white;
}

.right {
    padding-top: 20px;
    font-size: 18px;
    color: white;
}

.card {
    height: 80px;
}

.userIconContainer {
    padding-top: 10px;
    margin: 0 auto;
}


