.button {
    background-color: white;
    margin: 10px;
}

.container {
    flex: 1;
    height: 100%;
}

.videoContainer {
    flex: 1;
    display: flex;
    background-color: pink;
}

.hangupButton {
    background-color: rgba(#a94442, .8);
}

.wholePageVideo {
    width: 100%;
    height: 100%;
    border: 1px orange solid;
}