.container {
    flex: 1;
    width: 120px;
    height: 90px;
    elevation: 5;
}

.video {
    height:100%;
    width: 100%;
}

.muteIcon {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 2;
}

.icon {
    margin: 0 auto;
}
