.container {
    flex: 1;
    width: 120px;
    height: 90px;
    box-shadow: 0 2px 3.84px  #ccc;
    shadowOpacity: 0.5;
    elevation: 6;
}

.video {
    height:100%;
    width: 100%;
    border: 1px solid #fff;
}
