.container {
    display: flex;
	flex-direction: column;
	justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.row {
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	user-select: none;
    margin: 0 auto;
    padding-top: 5px;
    height: 70px;

}

.button {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.key {
	font-size: 28px;
	font-weight: 500;
}
