.container {
    padding: 10px;
    margin: 00px;
}

.title {
    padding: 5px;
    font-size: 24px;
    text-align: center;
}

.key {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.body {
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.button {
    margin: 10px;
}

.buttonRow {
    flex-direction: row;
    justify-content: center;
}


