.container {
    padding: 0px;
    margin-bottom: 15px;
}

.title {
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

.buttonRow {
    padding-top: 20px;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}


.button {
    margin: 10px;
}
