.container {
    padding: 10px;
    margin: 00px;
}

.title {
    padding: 0px;
    font-size: 24px;
    text-align: center;
}

.pgp {
    font-size: 12px;
}

.lock {
   margin-top: 3px;
   margin-right: 3px;
}

.subtitle {
    padding: 0px;
    font-size: 18px;
    text-align: center;
}

.emailStatus {
    margin-left: 12px;
    font-size: 12px;
    color: blue;
    padding-bottom: 10px;
}

.key {
    font-size: 6px;
    text-align: center;
    margin-bottom: 20px;
}

.body {
    padding-top: 0px;
    font-size: 18px;
    text-align: center;
}

.button {
    margin: 10px;
}

.buttonRow {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.link {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: blue;
}

