.title {
    padding-top: 00px;
    color: black;
    margin: 0 auto;
    font-size: 18;
}

.row {
    color: black;
    font-size: 16;
    height: 55px;
}

.container {
    padding: 10px;
    width: 100%;
}

.inner {
    // flex: 1;
    // justify-content: flex-end;
}

.button {
    margin-top: 30px;
    border-radius: 1px;
    border: 0px;
    width: 150;
    margin: 0 auto;
    margin-top: 30px;
}
