.container {
}

.landscape {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.landscapeTablet {
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.portrait {
    height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.portraitTablet {
    height: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title {
    margin-top: 0px;
    color: black;
    margin: 0 auto;
    font-size: 16;
}

.row {
    font-size: 14;
}

.snackbar {
}

.status {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: orange;
}

.button {
    margin-top: 0px;
    border-radius: 1px;
    border: 0px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
