.title {
    padding-top: 00px;
    color: black;
    margin: 0 auto;
    font-size: 18;
}

.row {
    color: black;
    font-size: 16;
    height: 45px;
}

.container {
}

.inner {
    // flex: 1;
    // justify-content: flex-end;
}
