.container {
    padding: 20px;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
}

.title {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.body {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.button {
    margin: 10px;
    width: 230;
}

.buttonRow {
    flex-direction: row;
    justify-content: center;
}
