.container {
}

.title {
    font-size: 24px;
    text-align: center;
}

.pincode {
    font-size: 36px;
    text-align: center;
}

.body {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.button {
    margin: 20px;
}

.buttonRow {
    flex-direction: row;
    justify-content: center;
}
