.content {
    flex: 1;
    flex-direction: row;
}

.mainContent {
    width: 100%;
}

.userAvatarContent {
    margin-top: 7px;
    margin-left: auto;
}

.landscapeContainer {
    width: 42%;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 5px;
}

.portraitContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
}
