.content {
    flex: 1;
    flex-direction: row;
}

.mainContent {
    width: 80%;
}

.userAvatarContent {
    width: 20%;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
}