.content {
    flex: 1;
    flex-direction: row;
}

.mainContent {
    width: 100%;
}

.expandedCard {
}


.participantView {
}

.participant {
    font-size: 16px;
}

.card {
    height: 110px;
}

.userAvatarContent {
    margin-top: 7px;
    margin-left: auto;
}

.landscapeContainer {
    width: 50%;
    margin-left: 0%;
    margin-top: 0px;
    border-radius: 2px;
    border: 1px;
}

.portraitContainer {
    width: 100%;
    margin: 0 auto;
    border: 1px;
    margin-top: 0px;
    border-radius: 2px;
}

.landscapeTabletContainer {
    width: 33%;
    margin-left: 0%;
    margin-top: 0px;
    border: 1px;
    border-radius: 2px;
}

.portraitTabletContainer {
    width: 50%;
    margin: 0 auto;
    margin-top: 0px;
    border: 1px;
    border-radius: 2px;
}

.buttonContainer {
    justify-self: flex-end;
    flex-direction: row;
    margin: 0 auto;
    margin-top:auto;
}

.button {
    border-radius: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

