.container {
    justifyContent: center;
    alignItems: center;
    background-color: rgba(#ccc, 1);
    height: 100%;
}

.buttonContainer {
    flex-direction: row;
    margin: 0 auto;
    padding-top: 20px;
}

.button {
    background-color: rgba(#6DAA63, .9);
    margin: 30px;
    padding: 10px;
}

.rejectButton {
    background-color: rgba(#a94442, .9);
    margin: 30px;

}

.userIcon {
    margin: 0;
    padding-bottom: 40px;
}

.remoteCaller {
    padding-top: 20px;
    font-size: 34px;
    margin: 0px;
}

.remoteMedia {
}
