.container {
    padding: 15px;
    margin: 00px;
}

.title {
    padding: 3px;
    font-size: 24px;
    text-align: center;
}

.shareText {
    padding: 3px;
    font-size: 16px;
    text-align: center;
}

.participants {
    padding: 0px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.button {
    margin: 10px;
    width: 120;
}

.buttonRow {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.iconContainer {
    padding-top: 5px;
    flex-direction: row;
    justify-content: center;
}

