.landscapeContainer {
    align-items: center;
}

.portraitContainer {
    align-items: center;
}

.landscapeTabletContainer {
    align-items: center;
}

.portraitTabletContainer {
    align-items: center;

}

.title {
    color: white;
}
