// SPDX-FileCopyrightText: 2020, AG Projects
// SPDX-License-Identifier: GPL-3.0-only

.landscapeContainer {
    align-items: center;
}

.portraitContainer {
    align-items: center;
}

.landscapeTabletContainer {
    align-items: center;
}

.portraitTabletContainer {
    align-items: center;

}

.title {
    color: white;
}
