.container {
    flex: 1;
    height: 100%;
    width: 100%;
}

.video {
}

.title {
    padding-bottom: 30px;
    font-size: 34px;
    text-align: center;
    color: white;
}

.subtitle {
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
}

.description {
    padding: 12px;
    font-size: 16px;
    text-align: center;
    color: white;
}

.savebutton {
    margin: 10px;
    width: 150;
}

.backbutton {
    margin: 10px;
    width: 150;
}

.hangupbutton {
    background-color: rgba(#a94442, .8);
}

.tabletButtonContainer {
    position: absolute;
    bottom: 60;
    width: 100%;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    position: absolute;
    bottom: 60;
    width: 100%;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.buttonRow {
    flex-direction: row;
    justify-content: center;
}

