.title {
    padding: 5px;
    margin: 0 auto;
    color: white;
    font-size: 36px;
}

.logoContainer {
    margin:0 auto;
}

.logo {
    width: 120px;
    height: 120px;
    resize-mode: contain;
    margin-top: 10px;
    margin-bottom: 20px;
}
