.landscapeContainer {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portraitContainer {
    margin-top: 10px;
    align-items: center;
}

.landscapeTabletContainer {
    flex: 1;
    margin-top: 200px;
}

.portraitTabletContainer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    width: 150px;
    height: 150px;
}
