.container {
    padding: 0px;
    margin-bottom: 15px;
}

.title {
    padding: 5px;
    font-size: 24px;
    text-align: center;
}

.body {
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

