.titleContainer {
}

.subtitle {
    color: white;
    font-size: 12;
    margin-right: 10px;
}

.tabletSubtitle {
    color: white;
    font-size: 16;
    margin-right: 10px;
}

.title {
    font-size: 18;
}

.menuItem {
    font-size: 12;
}

.tabletTitle {
    font-size: 24;
}

.logo {
    margin-left: 10px;
    height: 35px;
    width: 35px;
}

.menuContentStyle {
    font-size: 10;
}
