// SPDX-FileCopyrightText: 2020, AG Projects
// SPDX-License-Identifier: GPL-3.0-only

.titleContainer {
}

.subtitle {
    color: white;
    font-size: 12;
    margin-right: 10px;
}

.tabletSubtitle {
    color: white;
    font-size: 16;
    margin-right: 10px;
}

.title {
    font-size: 20;
}

.tabletTitle {
    font-size: 24;
}

.logo {
    margin-left: 10px;
    height: 35px;
    width: 35px;
}
