@import './variables';

.wholeContainer {
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 90%;
    padding-top: 10px;
}

.title {
    color: white;
    font-size: 20px;
}

.footer {
    flex: 1;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.button {
    background-color: rgba(#6DAA63, .9);
    margin: 10px;
    padding-top: 2px;
    padding-left: 1px;
}

.iosButton {
    background-color: rgba(#6DAA63, .9);
    margin: 10px;
    padding-top: 4px;
    padding-left: 1px;
}

.androidButton {
    background-color: rgba(#6DAA63, .9);
    margin: 10px;
    padding-top: 2px;
    padding-left: 1px;
}

.conferenceButton {
    background-color: rgba(#4572a6, 1);
    margin: 10px;
}

.buttonGroup {
    flex-direction: row;
    margin: 0 auto;
    padding-top: 10px;
}

.uriInputBox {
    padding-top: 10px;
}

.history {
    flex: 9;
    width: 100%;
}
