@import './variables';

.wholeContainer {
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.container {
    padding: 30px;
}

.title {
    color: white;
}

.footer {
    flex: 1;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.button {
    background-color: grey;
    margin: 10px;
}

.buttonGroup {
    flex-direction: row;
    margin: 0 auto;
    padding-top: 10px;
}

.uriInputBox {
    padding-top: 10px;
}
