@import './variables';

.title {
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    color: $white-transparent;
    text-shadow: 0 1px 3px $black-transparent;
    width: 100%;
}

.container {
    padding: 30px;
}

.button {
    background-color: grey;
    margin: 10px;
}

.buttonGroup {
    flex: 1;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 10px;
}
