// SPDX-FileCopyrightText: 2020, AG Projects
// SPDX-License-Identifier: GPL-3.0-only

.landscapeRegisterBox {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portraitRegisterBox {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.landscapeTabletRegisterBox {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portraitTabletRegisterBox {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

