.landscapeRegisterBox {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portraitRegisterBox {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.landscapeTabletRegisterBox {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portraitTabletRegisterBox {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.recoverLink {
    padding: 30px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.footer {
    justify-content: flex-end;
    margin-bottom: 20px;
}
