.title {
    margin: 0 auto;
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}

.row {
    padding: 0px 0;
}

.button {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
}

.input {
    border-radius: 0px;
}

