.landscapeRegisterBox {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portraitRegisterBox {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.landscapeTabletRegisterBox {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portraitTabletRegisterBox {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

