.container {
    flex: 1;
}

.remoteVideoContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.reconnectContainer {
    margin-top: 150px;
}

.localVideoContainer {
    justify-content: flex-end;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.localVideo {
    position: absolute;
    height: 80px;
    width: 100px;
    object-fit: cover;
    background-color: white;
    top: 10;
    left: 10;
    border-radius: 10px;
}

.portraitButtonContainer {
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 40px;
}

.landscapeButtonContainer {
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 0px;
}

.tabletPortraitButtonContainer {
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 40px;
    bottom: 60;
}

.tabletLandscapeButtonContainer {
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 0px;
    bottom: 60;
}

.buttonContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.button {
    background-color: rgba(#F9F9F9, .7);
    margin: 10px;
    padding-top: 5px;
}

.iosButton {
    background-color: rgba(#F9F9F9, .7);
    margin: 10px;
    padding-top: 5px;
}

.androidButton {
    background-color: rgba(#F9F9F9, .7);
    margin: 10px;
    padding-top: 1px;
}

.hangupButton {
    background-color: rgba(#a94442, .5);
}

